@font-face {
    font-family: 'Forum';
    src: url(../fonts/Forum-Regular.ttf);
    
}
@font-face {
    font-family: 'Schoolbell';
    src: url(../fonts/Schoolbell-Regular.ttf);
    
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter.ttf);
    
}
@font-face{
    font-family: 'PT Mono';
    src: url(../fonts/PTMono-Regular.ttf);
}
#vetorHideVideo, #vetorHideVideo2, #vetorHideVideo3
{
    display: none;
}
.navbar{
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Forum';
    overflow-x: hidden;
    background-color: #F0F2FB;
    width: 100%;
    min-height: 100vh;
}
main{
    height: 100vh;
}

#colored{
    color: #AEBADA;
}
/*NAV*/
.navbar{
    width: 100vw;
    height: 70px;
    background-color: #AEBADA;
    box-shadow: rgb(154, 154, 154) 2px -6px 19px;

}

.items-nav {
    display: flex;
    justify-content: space-evenly; 
    width: 60%;
}
/*FIRST SIDE*/
.content{
    width: 90%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0  !important;
}
.videohide{
    display: flex !important;
    justify-content: center !important;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.items-nav .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #272424;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.link{
    font-family: 'Inter';
    font-size: .9rem !important;
    font-weight: 600 !important;
    letter-spacing: 1px; 
    color:rgb(59, 59, 59) !important;
    transition: ease-in .2s;
}
.link:hover{
    transform: scale(1.1);
}
.title{
    font-size: 64px;
    font-weight: 200;
    margin-bottom:0;
    font-family: 'Forum';
    margin-top:10px;

}
.first-side{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.introducing{
    font-family: 'Schoolbell';
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom:0;
}
.section-about{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.text-about{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Inter';
    margin-top:10px;
}
.btn-contact{
    width: 131px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    box-shadow: 1px 1px 2px gainsboro;
    border-radius: 50px;
    background-color: #AEBADA !important;
    font-family: 'Inter';
}
.btn-contact a{
    font-size: .7rem;
    font-family: 'Inter' !important;
    font-weight: 100;
}
.btn-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
}
.btn:hover{
    background-color: #5977a5 !important;
}
/*RIGHT*/
.section-video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-reso{
    display: block;
    width: auto;
    height: 100%;
    border-radius:10px;
    box-sizing: border-box;

}

#reporterFromCaras, #interviewer, #reporterFromCaras2, #interviewer2{
    font-family: 'Schoolbell';
    color: #AEBADA;
    font-size: 30px;
    

}
#reporterFromCaras{
    right: 31vw;
    top: 21vh;
    position: absolute;
}
#interviewer{
    display:flex;
    flex-direction: row;
    right: 33vw;
    top: 40vh;
    position: absolute;
}
#vetor{
    width: 40px;
    height: 40px;
    position: absolute;
    left:-40px;
    top:-5vh;

    transform: rotate(290deg);
}
#vetor3{
    width: 58px;
    position: absolute;
    right: 40vw;
    top: 440px;
    transform-origin: center;
    transform: rotate(73deg);
    display: none;
}
#ball{
    height: 38px;
    margin-right: -12px;
    margin-left:2px;
    margin-bottom: 9px;
}
/*WORKS*/
.title-works{
    font-size: 24px;
    font-family: sans-serif;
}
#vetor2{
  width: 40px; 
  height: 40px; 
}
.container-works{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-work{
    display: flex;
    width: fit-content;
    font-family: 'PT Mono';
    padding-bottom: 10px;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    border-bottom: 1px solid gray;
    letter-spacing: 0.4px;
}
.list-work a{
    color: inherit;
    transition:ease 0.2s;
    text-decoration:none;
}
.list-work a:hover{
    font-weight: bolder;
    color:#585a61;
    transform: scale(1.02);
}
.img-li{
    height: 77px;
    max-height: 100px;
    margin-right: 15px;
    border-radius:10px;
    box-sizing: border-box;
    box-shadow: 1px 3px 2px gainsboro;
}

/*SECOND-SIDE*/


/*/respons*/
@media(min-width:1530px){

    #interviewer{
        right: 29vw;
    }
    #reporterFromCaras{
        right: 29vw;
    }
}
@media(max-width:1530px){
   
    #interviewer{
        right: 31vw;
        top:47vh;
        font-size: 1.5rem;
    }
    #vetor{
        left: -38px;
        top: -4vh;
    }
    #reporterFromCaras{
        right: 33vw;
        top:21vh;
        font-size: 1.5rem;
    }
}

@media(max-width:1378px){
    
    #interviewer,  #reporterFromCaras{
        font-size: 20px;
    }
    #interviewer{
        right: 35vw;
        top:45vh;
    }
    #reporterFromCaras{
        top: 24vh;
        right: 35vw;
    }

    #vetor2{
        transform: rotate(70deg);
    }
    .list-work p{
        font-size:0.7rem;
    }
    .container-works{
        justify-content: flex-start;
    }
}
@media(max-width:1264px){
   .text-about{
    font-size: 39px;
   }
   .text-center{
    margin-left:-20px;
   }
}
@media (max-width:1230px)
{
    .title{
        font-size: 60px ;
    }
}
   
@media(max-width:1192px){

    .content{
        margin-left: 0;
    }
    .list-work {
        font-size: 15px;
    }
    .text-about{
        font-size: 30px;
    }
    #reporterFromCaras{
        top: 23vh;
        right: 31vw;
    }

    #interviewer{
        top:43vh;
        right: 35vw;
    }
    .container-works{
        width: 70%;
    }
}
.hide{
    position: absolute;
    left:-9999px;
    opacity: 0;
}
/*/column/*/
@media(max-width:1074px){

    #vetorHideVideo, #vetorHideVideo2{
        display: block;
        width: 40px  !important;
        position: absolute;
    }
    
    #vetorHideVideo{
        top:23.2vh;
        transform:rotate(347deg);
    }
    #vetorHideVideo3{
        display: block;
        position: absolute;
        top:15vh;
        right:-2vw;
        width: 50px;
        transform:rotate(120deg);
    }

    .section-video{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .hide-web{
       position: absolute;
       left: -9999px;
       opacity: 0;
    }
    .hide{
        display: block;
        position: relative;
        left:0;
        opacity: 1;
    }
    .title{
        font-size: 2.3rem;
    }
    .introducing{
        font-size:.9rem;
    }
  .first-side{
       flex-direction: column;
       height: fit-content;
      
  }
  .text-about{
    word-break:keep-all;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .text-center{
    margin-left:0;
  }
  #ball{
    margin-right: 0px;
  }
  .title-works{
    font-size:1rem;
  }
  #vetor3{
    display:none;
  }
  .textline{
    font-size:.8rem  !important;
  }
  .marq img{
    width: 35px;
    height: 35px;
  }
  .items-nav{
    justify-content: space-around;
  }
  #reporterFromCaras, #interviewer, #vetor, #vetor2{
    display: none;
  }

  .video-reso{
     height: 78%;
  }

  
  .section-about{
    width: 100%;
    min-width: 307px;
  }
  .container-works{
    margin-top:40px;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
  }
  .ul-works{
    padding: 0 30px 0 30px;
  }
  .content{
    width: 100%;
    margin:20px 0 0 0;    
    height: fit-content;
  }
  .section-video{
    width: 100%;
    justify-content: center;
  }
  .random{
    position: absolute;
    top: 5px;
    width: 100%;
  }
  .video-reso{
    background-size: cover;
    padding:10px;
    border-radius:34px;
    max-width: 385px;
    width: 75% !important;
  }
  .btn-contact a{
    font-size:13px;
    font-weight: lighter;
  }
  .btn-container{
    justify-content: center;
    align-items: flex-end;
  }
  
}
/*line*/ 

.marquee-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color:#AEBADA;
    height:56px;
 
  }
  
  .marquee-content {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll-left 29s linear infinite;
    will-change: transform;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.textline{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: .8rem;
    white-space: nowrap;
    margin:0;
}


/*/SECOND SIDE */
.second-side{
    display: flex;
    background-color: #E3E6F5;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-bottom: 20px;
    width: 100%;
    max-height: 1761px;
}
.container-side2{
    padding:90px 60px 40px 60px;
    font-weight: 900;
}
.events{
    text-align: start;
}
.text-about-side2{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Inter';
    margin-top:10px;
    padding-bottom: 40px;
}
.content-line {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
    gap: 20px;
}
.content-line-2{
    display:flex;
    flex-direction: column;
    padding-left:20px;
    padding-right:20px;
}
.line-third{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    gap: 20px;
}
.line-third:first-child{
    margin-bottom: 80px;
}
#card1,#card2,#card3,#card4,#card5,#card6,#card7,#card8,#card9,#card10,#card11, #card12,#card13,#card14,#card15,#card15,#card16,#card17,#card18,#card19,#card20,#card21{
    max-width: 385px;
    min-width: 256px;
    min-height: 448px;
    height: 100%;
    border-radius:10px;
    background-size: cover;
    
}

#card1{
    background-image: url("../imgs/mamma.png");

}
#card2{
    background-image: url("../imgs/lolla.png");
}
#card3{
    background-image: url("../imgs/vila.png");
}
#card4{
    background-image: url("../imgs/thumb1.png");
}
#card5{
    background-image: url("../imgs/friends.png");
}
#card6{
    background-image: url("../imgs/thumb4.png");
}
#card7{
    background-image: url("../imgs/thumb6.png");
}
#card8{
    background-image: url("../imgs/thumb8.png");
}
#card9{
    background-image: url("../imgs/thumb10.png");
}
#card10{
    background-image: url("../imgs/princesa.png");
}
#card11{
    background-image: url("../imgs/thumb4.png");
}
#card12{
    background-image: url("https://i0.statig.com.br/bancodeimagens/5u/pv/3u/5upv3u1lu7f35x9bmguip2s97.jpg");
}
#card13{
    background-image: url("../imgs/thumb4.png");
}
#card14{
    background-image: url("../imgs/thumb4.png");
}
#card15{
    background-image: url("../imgs/thumb4.png");
}
#card16{
    background-image: url("../imgs/thumb4.png");
}
#card17{
    background-image: url("../imgs/thumb4.png");
}
#card18{
    background-image: url("../imgs/thumb4.png");
}
#card19{
    background-image: url("../imgs/thumb4.png");
}
#card20{
    background-image: url("../imgs/thumb4.png");
}
#card21{
    background-image: url("../imgs/thumb4.png");
}
.card-side{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
    height: 435px;
    position: relative;
    transition: ease-in .2s;
}

.card-side img , .card-side{
    border-radius:10px;
  
}
.instagram{
    width:30px;
    height: auto;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}
.instagram:hover{
     transform: scale(1.1);
     transition: ease-in .2s;
}
.content-line{
    display: flex;
}
.down-text{
    font-weight: 500;
    font-family: 'Inter';
    text-align: center;

}
.img-pro{
    display: flex;
    justify-content: center;
    width: 100%;
}
#imgProDown{
    background-size: auto;
    width:100%;
}
#carouselSlider ,#carouselSlider2{
    display: none;
}

.container-insta{
    padding:10px;
    width:50px;
    margin: 10px;
    background-color:white;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    position: absolute;
}
.col{
    background-size:auto;
    width: 100%;
    height: 100%;
}


/*carousel*/
.carousel-item{
    height: 100%;
}
.carousel-inner{
    width: 100vw;
    height: 100%;
}
#carouselSlider, #carouselSlider2{
    height: 740px;
}
#vetorCarousel{
    display: none;
}
#vetorCarousel2{
    display:none;
}
/*downcontainer*/
.down-container{
    display: flex;
    font-family: 'PT Mono';
    font-weight: 200;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
    width:100%;
    padding:0px;
}

.down-container-bio{
    display: flex;
        font-family: 'PT Mono';
        font-weight: 200;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        white-space: break-spaces;
        width: 100%;
        margin-top:30px;
        padding-top:20px;
        position: relative;
        padding: 20px;
}
.down-container-bio h4{
    position: relative;
}
.text-down-container{
    position: relative;
    text-align: justify;
    word-break: pre;
}
.text-down-container p{
    text-indent: 20px;
}
#vetorBio{
    position: absolute;
    top: -15px;
    width: 50px;
    filter: brightness(1.8);
}

.color-roxo{
    background-image: url(../imgs/Vector.png);
    filter: brightness(1.5);
    background-repeat: no-repeat;
    background-size:auto;
    width: fit-content;
}
/*thirdside*/
.third-side{
    position: relative;
    padding-bottom: 50px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.container-third{
    width: 100%;
    padding-top:20px;
}
.text-third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.text-third h4, .title-school,.down-container-bio h4{
    font-family: 'Schoolbell';
    color: #AEBADA;

}
.text-sm-center{
    font-family: 'PT Mono';
    font-size: .8rem;
}
#vetorThird{
 position: absolute;
 width: 50px;
 left: 20vh;
 top: 0;
}
#vetorFive{
    position: absolute;
    width:90px;
    transform:rotate(109deg);
    right:0px;
    top:50%;
}
.fourth-side{
    border-radius:20px;
    width:100dvw;
    margin-top:50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3E6F5;
}
.container-four{
    padding-top: 20px;
    position: relative;
}
.title-school{
    text-align: start;
    position: relative;
}
#vetorFourth{
    position: absolute;
    top:0;
    right: 10dvw;
    width: 100px;
}
.down-container2{
    display: flex;
    align-items: center;
     height: 100px;
    font-family: 'PT Mono';
    font-weight: 200;
}
.list-content{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  height: max-content;
  margin-top:-10px;
  padding:0;
}
.list-content li{
    display: flex;
    font-family: 'PT Mono';
    font-weight: 200;
    flex-direction: row;
    justify-content: start;
    text-align:center;
    align-items: center;
    white-space: break-spaces;
    width:fit-content;
    padding:25px;
}
#LiviaImg{
    border-radius: 10px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.img-inli{
    width: 32px;
}
#vetor5{
    position: absolute;
    width:50px;
    top:-29%;
    right:-40%;
    transform: rotate(10deg);
}
#reporterFromCaras2, #interviewer2{
    display: none;
}
/*container-five*/
.five-side{
    width:100dvw;
    height: fit-content;
}
.container-five{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:5px;
    width:100%;
    height:fit-content;
}
.line-image{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top:5px;
    width:100dvw;
}
.pic-sm{
    width: 500px;
    height: auto;
}

.pic-sm img:hover{
    transition: ease-in .2s;
}

.img-sm{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 460px;
    max-height: 469px;
    border-radius:10px;
    margin:5px;
}
/*footer*/
.footer{
    width: 100dvw;
    background-color: white;
    color:#212529;
}
.container-footer{
    width:100%;
    padding:50px;
    height: 75%; 
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-footer ul li{
    font-family: 'PT Mono';
    text-decoration: none;
    list-style: none;
    font-weight: lighter;

}
.line-footer{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-top:0.1px solid lightgray;
}
.footer-li{
    color:#212529;
    font-size:.8rem;
    cursor: pointer;
    transition: .2s ease-in;
}
.footer-li:hover{
 transform: scale(1.1);
}

.information{
    font-family: 'Inter';
    font-weight: 100;
    font-size:.6rem;
    color:gray;


}
.random{
    display:flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}


/*mobile*/
@media(max-width:1075px){
    .items-nav{
        width: 100%;
    }
    #carouselReports{
        display: none;
    }

    .footer-li{
        font-size: .6rem;
    }
   
    .container-footer{
        padding:0;
        white-space: nowrap;
    }
    .container-footer ul{
        padding:0;
        padding-bottom:30px;
        margin:0;
        display:flex;
        font-size:.7rem;
        justify-content: center;
        flex-direction: column;
        align-items: start;
    }
    .footer{
        padding-top:30px;
    }
    #foot{
        white-space:nowrap;
        font-size:1.2rem !important; 
    }
    #containerDesk{
        display: none;
    }
    #containerMob{
        display: block;
    }
    #reporterFromCaras2, #interviewer2{
        display: block;
        font-size:.9rem;
        white-space: nowrap;
    }
   
  
    
    .content-line{
        position: absolute;
        left: -9999px;
    }
    .down-container-bio{
        font-size: .8rem;
    }
    #vetorBio{
        width:43px;
        
    }
    .content-line-2{
        display: none;
    }
    #carouselSlider, #carouselSlider2{
        display: flex;
    }
    .container-side2{
        padding: 30px 0px 0px 0px;
        flex-direction: column;
    }
    .card-side{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .text-about-side2{
        font-size: 1rem;
        white-space: wrap;
        padding-bottom: 5px;
        text-align: center;
    }

    #ball{
        width:30px;
        height: 25px;
    }
    .down-container{
        font-size: .8rem;
    }
    .img-pro{
        margin-top:10px;

    }
    .list{
        flex-direction: column;
        align-items: center;
    }
    #LiviaImg{
        margin:0;
    }
    .title-school{
        text-align: center;
    }
    .down-container2 p{
        width: 100%;
        text-align: center;
    }
  
    .list-content li{
        text-align: start;
        padding:5px;
    }
    .fourth-side{
        margin: 0px;
        padding-top:0;
    }
    .link{
        font-size:0.6rem !important;
    }
    .text-down-container{
        text-align: justify;
        word-spacing: -3px;
    }


}
@media (max-width:800px){
    .linha{
        width: 100vw;
    }
    .carousel-inner{
        padding-bottom:23px;
        padding-right:5px;
        padding-left:13px;
    }
    .container-side2{
        width:90%;
    }
    .text-about{
        font-size:18px !important;
    }
    .title{
        font-size:40px !important;
    }
    #card1,#card2,#card3,#card4,#card5,#card6,#card7,#card8,#card9,#card10,#card11, #card12,#card13,#card14,#card15,#card15,#card16,#card17,#card18,#card19,#card20,#card21{
        width: 75%;
        height: 75%;
    }
}
@media(max-width:613px){
    #card1,#card2,#card3,#card4,#card5,#card6,#card7,#card8,#card9,#card10,#card11, #card12,#card13,#card14,#card15,#card15,#card16,#card17,#card18,#card19,#card20,#card21{
        width: 55%;
        height: 55%;
        max-width: 358px;
        min-width: 191px;
        min-height: 312px;
        /* height: 100%; */
        border-radius: 10px;
        background-size: cover;
    
    }
    .second-side{
        max-height: 1556px;
    }
}
   
/*notebook*/
@media(max-width:1370px){
    .text-about{
        font-size:33px;
    }
    .text-about2{
        font-size:45px;
    }
    .title-works{
        font-size:18px;
    }
    .title{
        font-size:50px;
    }
}
@media(min-width:1187px){
    .card-side{
        width:260px !important;
    }
    #imgProDown{
        width:60%;
    }
    .text-third h4, .down-container-bio h4{
        font-size:2rem;
    }
}
.carousel {
    overflow-anchor: none;
  }
  
  .carousel-item {
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Para Safari */
  }
  
  /* Desativa smooth scroll que pode interferir */
  html {
    scroll-behavior: auto !important;
  }