@font-face {
    font-family: 'Forum';
    src: url(../fonts/Forum-Regular.ttf);
    
}
@font-face {
    font-family: 'Schoolbell';
    src: url(../fonts/Schoolbell-Regular.ttf);
    
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter.ttf);
    
}
@font-face{
    font-family: 'PT Mono';
    src: url(../fonts/PTMono-Regular.ttf);
}
@font-face{
    font-family: 'AlteHaasGroteskBold';
    src: url(../fonts/AlteHaasGroteskBold.ttf);
}
@font-face{
    font-family: 'Toasty Milk';
    src: url(../fonts/Toasty\ Milk.otf);
}
@font-face{
    font-family: 'Brillant';
    src: url(../fonts/brillant.otf);
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat.ttf);
}
@font-face{
    font-family: 'Raleway';
    src: url(../fonts/Raleway.ttf);
}
@font-face{
    font-family: 'Dosis';
    src: url(../fonts/Dosis.ttf);
}
@font-face{
    font-family: 'Fredoka';
    src: url(../fonts/Fredoka.ttf);
}
main{
    margin-top: 60px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
    padding: 0 12px 20px 12px;
}
.mobile-card{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 14px;
}
.item-mobile{
    width: 45%;
    height: 285px;
    margin: 6px;
}
.item-mobile-slick{
    width: 170px;
    height: 325px;
    margin:8px;
    flex: 0 0 auto; /* Impede que o item estique */
}

#carouselSlider2 {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 75px;
}
/*reports and events*/
#card-report1{
    background-image: url("../imgs/mamma.png");

}
#card-report2{
    background-image: url("../imgs/lolla.png");
}
#card-report3{
    background-image: url("../imgs/vila.png");
}
#card-report4{
    background-image: url("../imgs/thumb1.png");
}
#card-report5{
    background-image: url("../imgs/friends.png");
}
#card-report6{
    background-image: url("../imgs/thumb4.png");
}
#card-report7{
    background-image: url("../imgs/thumb6.png");
}
#card-report8{
    background-image: url("../imgs/thumb8.png");
}
#card-report9{
    background-image: url("../imgs/thumb10.png");
}
#card-report10{
    background-image: url("../imgs/princesa.png");
}
#card-report11{
    background-image: url("../imgs/thumb4.png");
}
/*film critcs*/
#card-film1{
    background-image: url("../imgs/thumb2.png");

}
#card-film2{
    background-image: url("../imgs/filmcritics/coringa.png");
}
#card-film3{
    background-image: url("../imgs/filmcritics/melhores.png");
}
#card-film4{
    background-image: url("../imgs/filmcritics/beetlejuice.png");
}
#card-film5{
    background-image: url("../imgs/filmcritics/emilia.png");
}
#card-film6{
    background-image: url("../imgs/filmcritics/oscars.png");
}
#card-film7{
    background-image: url("../imgs/filmcritics/redone.png");
}
#card-film8{
    background-image: url("../imgs/thumb5.png");
}

/*interviews*/
#card-interviews1{
    background-image: url("../imgs/interviews/citadel.png");

}
#card-interviews2{
    background-image: url("../imgs/interviews/stanley.png");
}
#card-interviews3{
    background-image: url("../imgs/interviews/vincent.png");
}
#card-interviews4{
    background-image: url("../imgs/interviews/shaunsipos.png");
}
#card-interviews5{
    background-image: url("../imgs/interviews/wheeltime.png");
}
#card-interviews6{
    background-image: url("../imgs/interviews/holger.png");
}
#card-interviews7{
    background-image: url("../imgs/interviews/fellow.png");
}
#card-interviews8{
    background-image: url("../imgs/interviews/lamar.png");
}
#card-interviews9{
    background-image: url("../imgs/interviews/tibia.png");
}
#card-interviews10{
    background-image: url("../imgs/princesa.png");
}
#card-interviews11{
    background-image: url("../imgs/thumb4.png");
}

#vetorHideVideo, #vetorHideVideo2, #vetorHideVideo3
{
    display: none;
}


.nav-item{
    margin-right: 40px;
    font-family: 'Fredoka';
    font-weight: normal;
    transition: ease .2s;
    
}
.nav-item:hover{

    transform: scale(1.1);
}
.nav-link{
    color:black !important;
}

body {
    font-family: 'Forum';
    overflow-x: hidden;
    background-color: #F0F2FB;
    width: 100%;
    min-height: 100vh;
}
main{
    height: 100vh;
}

#colored{
    color: #AEBADA;
}

@media(min-width:1100px){
    #nav-container{
        justify-content: center;
    }
}

/*FIRST SIDE*/
.content{
    width: 90%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0  !important;
}
.videohide{
    display: flex !important;
    justify-content: center !important;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.link{
    font-family: 'Inter';
    font-size: .9rem !important;
    font-weight: 600 !important;
    letter-spacing: 1px; 
    color:rgb(59, 59, 59) !important;
    transition: ease-in .2s;
}
.link:hover{
    transform: scale(1.1);
}
.title{
    font-size: 64px;
    font-weight: 200;
    margin-bottom:0;
    font-family: 'Forum';
    margin-top:10px;

}
.first-side{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top:-5px;
}
.introducing{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom:0;
}
.section-about{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.text-about{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Inter';
    margin-top:10px;
}
.btn-contact{
    padding: 15px 30px 15px 30px;
    border-radius:50px;
    border: 0px transparent;
    background-color: #DEE7F2	 !important;
    font-family: 'Fredoka' !important;
    transition: ease-in .1s;
}
.btn-contact a{
    font-size: .8rem;
    font-weight: normal;
    white-space: nowrap;
}
.btn-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
}
.btn-contact:hover{
    transform: scale(1.01);
    background-color: #b2c5e0 !important;
}
/*RIGHT*/
.section-video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-reso{
    display: block;
    width: auto;
    height: 100%;
    border-radius:10px;
    box-sizing: border-box;

}

#reporterFromCaras, #interviewer, #reporterFromCaras2, #interviewer2{
    font-family: 'Schoolbell';
    color: #AEBADA;
    font-size: 30px;
    

}
#reporterFromCaras{
    right: 31vw;
    top: 21vh;
    position: absolute;
}
#interviewer{
    display:flex;
    flex-direction: row;
    right: 33vw;
    top: 40vh;
    position: absolute;
}
#vetor{
    width: 40px;
    height: 40px;
    position: absolute;
    left:-40px;
    top:-5vh;

    transform: rotate(290deg);
}
#vetor3{
    width: 58px;
    position: absolute;
    right: 40vw;
    top: 440px;
    transform-origin: center;
    transform: rotate(73deg);
    display: none;
}
#ball{
    height: 38px;
    margin-right: -12px;
    margin-left:2px;
    margin-bottom: 9px;
}

/*WORKS*/
.title-works{
    font-size: 24px;
    font-family: 'AlteHaasGroteskBold';
    font-weight: bolder;
}
#vetor2{
  width: 40px; 
  height: 40px; 
}
.container-works{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-work{
    display: flex;
    width: fit-content;
    font-family: 'Fredoka';
    padding-bottom: 10px;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    border-bottom: 1px solid gray;
    letter-spacing: 0.4px;
}
.list-work a{
    color: inherit;
    transition:ease 0.2s;
    text-decoration:none;
}
.list-work a:hover{
    font-weight: bolder;
    color:#585a61;
    transform: scale(1.02);
}
.img-li{
    height: 77px;
    max-height: 100px;
    margin-right: 15px;
    border-radius:10px;
    box-sizing: border-box;
    box-shadow: 1px 3px 2px gainsboro;
}

/*SECOND-SIDE*/


/*/respons*/
@media(min-width:1530px){

    #interviewer{
        right: 29vw;
    }
    #reporterFromCaras{
        right: 29vw;
    }
}
@media(max-width:1530px){
   
    #interviewer{
        right: 31vw;
        top:47vh;
        font-size: 1.5rem;
    }
    #vetor{
        left: -38px;
        top: -4vh;
    }
    #reporterFromCaras{
        right: 33vw;
        top:21vh;
        font-size: 1.5rem;
    }
}

@media(max-width:1378px){
    
    #interviewer,  #reporterFromCaras{
        font-size: 20px;
    }
    #interviewer{
        right: 35vw;
        top:45vh;
    }
    #reporterFromCaras{
        top: 24vh;
        right: 35vw;
    }

    #vetor2{
        transform: rotate(70deg);
    }
    .list-work p{
        font-size:0.77rem;
    }
    .container-works{
        justify-content: flex-start;
    }
}
@media(max-width:1264px){
   .text-about{
    font-size: 39px;
   }
   .text-center{
    margin-left:-20px;
   }
}
@media (max-width:1230px)
{
    .title{
        font-size: 60px ;
    }
}
   
@media(max-width:1192px){

    .content{
        margin-left: 0;
    }
    .list-work {
        font-size: 15px;
    }
    .text-about{
        font-size: 30px;
    }
    #reporterFromCaras{
        top: 23vh;
        right: 31vw;
    }

    #interviewer{
        top:43vh;
        right: 35vw;
    }
    .container-works{
        width: 70%;
    }
}
.hide{
    position: absolute;
    left:-9999px;
    opacity: 0;
}
/*/column/*/
@media(max-width:1074px){

    #vetorHideVideo, #vetorHideVideo2{
        display: block;
        width: 40px  !important;
        position: absolute;
    }
    
    #vetorHideVideo{
        top:21.2vh;
        transform:rotate(347deg);
    }
    #vetorHideVideo3{
        display: block;
        position: absolute;
        top:15vh;
        right:-2vw;
        width: 50px;
        transform:rotate(120deg);
    }

    .section-video{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .hide-web{
       position: absolute;
       left: -9999px;
       opacity: 0;
    }
    .hide{
        display: block;
        position: relative;
        left:0;
        opacity: 1;
    }
    .title{
        font-size: 2.3rem;
    }
    .introducing{
        font-size:.9rem;
    }
  .first-side{
       flex-direction: column;
       height: fit-content;
      
  }
  .text-about{
    word-break:keep-all;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .text-center{
    margin-left:0;
  }
  #ball{
    margin-right: 0px;
  }
  .title-works{
    font-size:1rem;
  }
  #vetor3{
    display:none;
  }
  .textline{
    font-size:.8rem  !important;
  }
  .marq img{
    width: 35px;
    height: 35px;
  }

  #reporterFromCaras, #interviewer, #vetor, #vetor2{
    display: none;
  }

  .video-reso{
     height: 78%;
  }

  
  .section-about{
    width: 100%;
    min-width: 307px;
  }
  .container-works{
    margin-top:40px;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
  }
  .ul-works{
    padding: 10px;
  }
  .content{
    width: 100%;
    margin:20px 0 0 0;    
    height: fit-content;
  }
  .section-video{
    width: 100%;
    justify-content: center;
  }
  .random{
    position: absolute;
    top: 5px;
    width: 100%;
  }
  .video-reso{
    background-size: cover;
    padding:10px;
    border-radius:34px;
    max-width: 385px;
    width: 75% !important;
  }
  .btn-contact a{
    font-size:13px;
  }
  .btn-container{
    justify-content: center;
    align-items: flex-end;
  }
  
}
/*line*/ 

.marquee-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color:#DEE7F2;
    height:56px;
 
  }
  
  .marquee-content {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    will-change: transform;
    animation: scroll-left 30s;
   }
  
@keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}
.textline{
    font-family:'AlteHaasGroteskBold';
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 19px;
    white-space: nowrap;
    margin:0;
}
.textline a{
    color:inherit;
}

/*/SECOND SIDE */
.second-side{
    display: flex;
    background-color: #AEBADA;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:10px;
    max-height: 1761px;
    border-radius: 24px;
    
}
.container-side2{
    padding:10px 60px 40px 60px;
    font-weight: 900;
}
.events{
    text-align: start;
}
.text-about-side2, .title-school{
    font-size: 45px;
    font-family:'AlteHaasGroteskBold';
    text-align: center;
}
.text-about-side2{
    font-weight: 500 !important;
}
.content-line {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
    gap: 20px;
}
.content-line-2{
    display:flex;
    flex-direction: column;
    padding-left:20px;
    padding-right:20px;
}
.line-third{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    gap: 20px;
}
.line-third:first-child{
    margin-bottom: 80px;
}
.card-template{
 max-width: 385px;
    min-width: 256px;
    min-height: 448px;
    height: 100%;
    border-radius:10px;
    background-size: cover;
}


.card-side{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
    height: 435px;
    position: relative;
    transition: ease-in .2s;
}

.card-side img , .card-side{
    border-radius:10px;
  
}
.instagram{
    width:30px;
    height: auto;
    background-size: cover;
    border-radius:14px;
}
.instagram:hover{
     transform: scale(1.1);
     transition: ease-in .2s;
}
.content-line{
    display: flex;
}
.down-text{
    font-weight: 500;
    font-family: 'Fredoka';
    text-align: center;
    padding-top: 10px;

}
.img-pro{
    display: flex;
    justify-content: center;
    width: 100%;
}
#imgProDown{
    background-size: auto;
    width:100%;
}
#carouselSlider ,#carouselSlider2, #carouselSliderReports,#carouselTvSlider, #carouselWebserieSlider{
    display: none;
}

.container-insta{
    padding:10px;
    width:50px;
    margin: 10px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    position: absolute;
}
.col{
    background-size:auto;
    width: 100%;
    height: 100%;
}


/*carousel*/
.carousel-item{
    height: 100%;
}
.carousel-inner{
    width: 100vw;
    height: 100%;
}
.third-side{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
#vetorCarousel{
    display: none;
}
#vetorCarousel2{
    display:none;
}
/*downcontainer*/
.down-container,.down-container-bio{
    font-family: 'Fredoka';
    font-size: 1rem !important;
}
.down-container{
    display: flex;
    font-weight: 200;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
    width:100%;
    padding:0px;
}

.down-container-bio {
    font-family: 'Fredoka';
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 12px;

}
.down-container-bio h4{
    position: relative;
}

.text-down-container {
    font-family: 'Fredoka';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6; /* Espaçamento entre linhas melhorado */
    color: #1a1a1a;
    text-align: justify;
    margin-bottom: 12px;
    text-indent: 1.5em;
    letter-spacing: 0;
}
.text-down-container p{
    text-indent: 20px;
}
#vetorBio{
    position: absolute;
    top: -10px;
    width: 50px;
    transform: rotate(-176deg);

}

.color-roxo{
    background-image: url(../imgs/Vector.png);
    filter: brightness(1.5);
    background-repeat: no-repeat;
    background-size:auto;
    width: fit-content;
}
/*thirdside*/
.third-side{
    position: relative;
    padding-bottom: 86px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.container-third{
    width: 100%;
    padding-top:20px;
}
.text-third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.text-third h4, .title-school,.down-container-bio h4{
    font-family: 'Schoolbell';
    color: #AEBADA;

}
.text-sm-center{
    font-family: 'Schoolbell';
    font-size: 1rem;
}
#vetorThird{
 position: absolute;
 width: 50px;
 left: 20vh;
 top: 0;
}
#vetorFive{
    position: absolute;
    width:90px;
    transform:rotate(109deg);
    right:0px;
    top:50%;
}
.fourth-side{
    border-radius:20px;
    width:100dvw;
    margin-top:50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEE7F2;
}
.container-four{
    padding-top: 20px;
    position: relative;
}
.title-school{
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    font-weight: bold;
}
#vetorFourth{
    position: absolute;
    top:0;
    right: 10dvw;
    width: 100px;
}
.down-container2{
    display: flex;
    align-items: center;
     height: 100px;
    font-family: 'PT Mono';
    font-weight: 200;
}
.list-content{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  height: max-content;
  padding:0;
}
.list-content li{
    display: flex;
    font-family: 'Fredoka';
    font-weight: 600;
    flex-direction: row;
    justify-content: start;
    text-align:center;
    align-items: center;
    white-space: break-spaces;
    width:fit-content;
    padding:25px;
}
#LiviaImg{
    border-radius: 10px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.img-inli{
    width: 32px;
}
#vetor5{
    position: absolute;
    width:50px;
    top:-29%;
    right:-40%;
    transform: rotate(10deg);
}
#reporterFromCaras2, #interviewer2{
    display: none;
}
/*container-five*/
.five-side{
    width:100dvw;
    height: fit-content;
}
.container-five{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:5px;
    width:100%;
    height:fit-content;
}
.line-image{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top:5px;
    width:100dvw;
}
.pic-sm{
    width: 500px;
    height: auto;
}

.pic-sm img:hover{
    transition: ease-in .2s;
}

.img-sm{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 460px;
    max-height: 469px;
    border-radius:10px;
    margin:5px;
}
/*footer*/
.footer{
    width: 100dvw;
    background-color: white;
    color:#212529;
}
.container-footer{
    width:100%;
    padding:50px;
    height: 75%; 
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-footer ul li{
    font-family: 'PT Mono';
    text-decoration: none;
    list-style: none;
    font-weight: lighter;

}
.line-footer{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-top:0.1px solid lightgray;
}
.footer-li{
    color:#212529;
    font-size:.8rem;
    cursor: pointer;
    transition: .2s ease-in;
}
.footer-li:hover{
 transform: scale(1.1);
}

.information{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size:.6rem;
    color:gray;


}
.random{
    display:flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}


/*mobile*/
@media(max-width:1075px){
    .text-down-container, .list-content, .down-text{
        font-size:0.89rem;
    }
    #carouselReports{
        display: none;
    }
    #carouselReportsFilm{
        display: none;
    }

    .footer-li{
        font-size: .6rem;
    }
   
    .container-footer{
        padding:0;
        white-space: nowrap;
    }
    .container-footer ul{
        padding:0;
        padding-bottom:30px;
        margin:0;
        display:flex;
        font-size:.7rem;
        justify-content: center;
        flex-direction: column;
        align-items: start;
    }
    .footer{
        padding-top:30px;
    }
    #foot{
        white-space:nowrap;
        font-size:1.2rem !important; 
    }
    #containerDesk{
        display: none;
    }
    #containerMob{
        display: block;
    }
    #reporterFromCaras2, #interviewer2{
        display: block;
        font-size:.9rem;
        white-space: nowrap;
    }
   
    .content-line{
        position: absolute;
        left: -9999px;
    }
    .down-container-bio{
        font-size: .8rem;
    }
    #vetorBio{
        width:34px;
        
    }
    .content-line-2{
        display: none;
    }
    #carouselSlider, #carouselSlider2, #carouselSliderReports, #carouselTvSlider, #carouselWebserieSlider{
        display: flex;
    }
    .container-side2{
        padding: 12px 0px 0px 0px;
        flex-direction: column;
    }
    .card-side{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .text-about-side2{
        font-size:24px;
        padding-bottom: 0px;
        text-align: center;
    }
    .title-school{
        font-size: 1.3rem;
        margin:0;
    }
    #ball{
        width:30px;
        height: 25px;
    }
    .down-container{
        font-size: .8rem;
    }
    .img-pro{
        margin-top:10px;

    }
    .list{
        flex-direction: column;
        align-items: center;
    }
    #LiviaImg{
        margin:0;
    }
    .title-school{
        text-align: center;
        position:relative;
    }
    .down-container2 p{
        width: 100%;
        text-align: center;
    }
  
    .list-content li{
        text-align: start;
        padding:5px;
        
    }
    .fourth-side{
        margin: 0px;
        padding-top:0;
    }
    .link{
        font-size:0.6rem !important;
    }
    .text-down-container{
        text-align: justify;
    }


}
@media (max-width:800px){
    .linha{
        width: 100vw;
    }

    .third-side{
        padding-bottom: 0px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
    .carousel-inner{
        padding-right:5px;
        padding-left:13px;
    }

    .text-about{
        font-size:18px !important;
    }
    .title{
        font-size:40px !important;
    }
    .card-template{
        width: 75%;
        height: 75%;
    }
}
@media(max-width:613px){
     .card-template{
        width: 55%;
        height: 55%;
        max-width: 380px;
        min-width: 208px;
        min-height: 363px;
        /* height: 100%; */
        border-radius: 10px;
        background-size: cover;
    }
    .second-side{
        max-height: 1337px;
    }
}
   
/*notebook*/
@media(max-width:1370px){
    .text-about{
        font-size:33px;
    }
    .text-about2{
        font-size:45px;
    }
    .title-works{
        font-size:18px;
    }
    .title{
        font-size:50px;
    }
}
@media(min-width:1187px){
    .card-side{
        width:260px !important;
    }
    #imgProDown{
        width:60%;
    }
    .text-third h4, .down-container-bio h4{
        font-size:2rem;
    }
}
.carousel {
    overflow-anchor: none;
  }
  
  .carousel-item {
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Para Safari */
  }
  
  /* Desativa smooth scroll que pode interferir */
  html {
    scroll-behavior: auto !important;
  }